<div class="ion-padding custom-style-header">
  <div class="circle-account-info"></div>
  <div class="custom-style-account-info">
    <h2><strong>Mobile</strong> Programming</h2>
    <p>Muhammad Rizki Fani</p>
  </div>
</div>

<div class="ion-padding custom-style-content">
  <div class="custom-title">Assignments</div>
  <div class="scrolling-wrapper">
    <div
      class="card"
      [routerLink]="['/fani01']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 01</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani02']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 02</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani03']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 03</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani04']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 04</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani05']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 05</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani06']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 06</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani07']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 07</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani08']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 08</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani09']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 09</h2>
    </div>
    <div
      class="card"
      [routerLink]="['/fani10']"
      routerLinkActive="router-link-active"
    >
      <h2>Assignment Fani 10</h2>
    </div>
  </div>
</div>
